# Classes

## Enseignant

In [1]:
class Enseignant:
    def __init__(self, nom, prénom, statut, cours):
        self.nom = nom
        self.prénom=prénom
        self.telephone="nil"
        self.mail_ujm="nil"
        self.mail_perso="nil"
        self.adresse="nil"
        self.statut=statut
        self.cours=cours
        self.service=0

In [2]:
import os
import math
import glob
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
os.chdir("/Users/laurentpottier/Documents/LP/Recherches/Dir_Departement/")

In [4]:
#X = pd.read_excel("Services_enseignants2021-22d.xlsx",sheet_name=0,header=0,index_col=0)

In [5]:
X = pd.read_excel("/Users/laurentpottier/Documents/LP/Recherches/Dir_Departement/Python_Planning/Services_enseignants2021-22d.xlsx",sheet_name=0,header=0,index_col=0)

In [6]:
print(X.shape) # (18, 6)

(168, 20)

In [7]:
print(X)

      HETD  TD(1) CM(1.5)  heures Niveau     UE      UE titre placé  groupes  \
Label
1       24            1.0    24.0  L1-S1  UE1-A          TICE     x      2.0
2       18            1.0    18.0  L1-S1  UE1-B  Methodologie     x      1.0
3       18            1.0    18.0  L1-S1  UE1-B  Methodologie     x      1.0
4       18            1.0    18.0  L1-S1  UE2-A      Français     x      1.0
5       18            1.0    18.0  L1-S1  UE2-A      Français     x      1.0
...    ...            ...     ...    ...    ...           ...   ...      ...
164    NaN            NaN     NaN    NaN    NaN           NaN   NaN      NaN
165    NaN            NaN     NaN    NaN    NaN           NaN   NaN      NaN
166    NaN            NaN     NaN    NaN    NaN           NaN   NaN      NaN
167    NaN            NaN     NaN    NaN    NaN           NaN   NaN      NaN
168    NaN            NaN     NaN    NaN    NaN           NaN   NaN      NaN

       semaines  durée   jour date                début                  fin  \
Label
1           6.0    2.0  lundi  NaT  1904-01-01 08:30:00  1904-01-01 10:30:00
2          12.0    1.5  jeudi  NaT  1904-01-01 08:30:00  1904-01-01 10:00:00
3          12.0    1.5  jeudi  NaT  1904-01-01 10:15:00  1904-01-01 11:45:00
4          12.0    1.5  lundi  NaT  1904-01-01 13:30:00  1904-01-01 15:00:00
5          12.0    1.5  lundi  NaT  1904-01-01 15:00:00  1904-01-01 16:30:00
...         ...    ...    ...  ...                  ...                  ...
164         NaN    NaN    NaN  NaT                  NaN                  NaN
165         NaN    NaN    NaN  NaT                  NaN                  NaN
166         NaN    NaN    NaN  NaT                  NaN                  NaN
167         NaN    NaN    NaN  NaT                  NaN                  NaN
168         NaN    NaN    NaN  NaT                  NaN                  NaN

       salle           statut         enseignant Etudts  rqs rqs2
Label
1       A230   UJM-PR-Musique    Laurent Pottier    NaN  NaN  NaN
2        J02  UJM-MCF-Musique  Matthieu Cailliez   Gr 1  NaN  NaN
3        J02  UJM-MCF-Musique  Matthieu Cailliez   Gr 2  NaN  NaN
4      autre    UJM - Lettres           M. Obali   Gr 1  NaN  NaN
5      autre    UJM - Lettres           M. Obali   Gr 2  NaN  NaN
...      ...              ...                ...    ...  ...  ...
164      NaN              NaN                NaN    NaN  NaN  NaN
165      NaN              NaN                NaN    NaN  NaN  NaN
166      NaN              NaN                NaN    NaN  NaN  NaN
167      NaN              NaN                NaN    NaN  NaN  NaN
168      NaN              NaN                NaN    NaN  NaN  NaN

[168 rows x 20 columns]

In [8]:
Enseignants = []

def readline (base):
    for j in range(base.shape):
        add_cours_enseignant(Enseignants, base, j)

In [9]:
print (X.index[3])

4

In [10]:
print (X.columns[2])

heures

In [40]:
print (X.enseignant[2])

Matthieu Cailliez

In [41]:
enseignant1 = Enseignant('coco', 'kiki', 'telephone', 'mail_ujm', 'mail_perso', 'adresse', 'statut', [],  0)

Enseignants.append(enseignant1)

enseignant2 = Enseignant('houap', 'LP', 'telephone', 'mail_ujm', 'mail_perso', 'adresse', 'statut', [],  0)

Enseignants.append(enseignant2)

In [42]:
#print (Enseignants)
#print (Enseignants[0].nom)
print (len(Enseignants))

def noms_enseignants(Liste):
    res = []
    for i in range (len(Liste)):
        res.append (Liste[i].nom)
    return res

print (noms_enseignants(Enseignants))

5
['coco', 'coco', 'houap', 'coco', 'houap']

In [12]:
def add_cours_enseignant(enseignants, base, j):
    nom_enseignant = base.enseignant[j]
    if nom_enseignant not in (noms_enseignants enseignants):
        enseignant = Enseignant('coco', 'kiki', 'telephone', 'mail_ujm', 'mail_perso', 'adresse', 'statut', [],  0)
        Enseignants.append(enseignant)

In [14]:
print (enseignant1)

<__main__.Enseignant object at 0x124435880>

In [24]:
print (enseignant1.nom)

coco

In [16]:
enseignant1.nom = "Pottier Laurent"

In [22]:
vartest = ["a", "b", "c"]
print(len (vartest))
print("fz" in vartest)

3
False