# Classes

## Enseignant

In [73]:
class Enseignant:
    def __init__(self, nom, prenom, statut):
        self.nom = nom
        self.prenom=prenom
        self.telephone="nil"
        self.mail_ujm="nil"
        self.mail_perso="nil"
        self.adresse="nil"
        self.statut=statut
        self.cours=[]
        self.charge=[]
        self.service=0

class Formation: 
    def __init__(self, formation):
        self.formation = formation
        
class Enseignement:
    def __init__(self, formation, semestre, code, titre, groupes):
        self.formation = formation
        self.semestre = semestre
        self.code = code
        self.titre = titre
        self.htd = 0
        self.hcm = 0
        self.groupes = groupes
        self.cours = []
                
class Charge_admin:
    def __init__(self, titre, htd):
        self.titre = titre
        self.htd = htd
        
class Cours:
    def __init__(self, enseignant, enseignement):
        self.enseignant = enseignant
        self.enseignement = enseignement
        self.duree = 0
        self.nseances = 0
        self.groupes = 0
        self.dates = []
        self.hdebut = 0
        self.jour = "nil"
        self.type = "TD"
        self.salle = "nil"
        self.groupe = "nil"

In [21]:
import os
import math
import glob
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
os.chdir("/Users/laurentpottier/Documents/LP/Recherches/Dir_Departement/Python_Planning/files/")

In [23]:
#X = pd.read_excel("Services_enseignants2021-22d.xlsx",sheet_name=0,header=0,index_col=0)

In [62]:
#X = pd.read_excel("/Users/laurentpottier/Documents/LP/Recherches/Dir_Departement/Python_Planning/Services_enseignants2021-22e.xlsx",sheet_name=0,header=0,index_col=0)
X = pd.read_excel("Services_enseignants2021-22f.xlsx",sheet_name=0,header=0,index_col=0)

In [63]:
print(X.shape) # (18, 6)

(149, 22)

In [64]:
#print(X)

In [65]:
print (X.index[3])

4

In [66]:
print (X.columns[2])

heures

In [67]:
print (X.nom[1])

Pottier

In [68]:
X.formation[1]

'L'

In [69]:
Enseignants = []

In [32]:
#enseignant1 = Enseignant('coco', 'kiki', 'statut')
#Enseignants.append(enseignant1)
#enseignant2 = Enseignant('houap', 'LP',  'statut')
#Enseignants.append(enseignant2)
#Enseignants[1].prenom

In [33]:
#def add_cours_enseignant(enseignants, base, j):
  #  """dsflkjsldfkj"""
   # nom_enseignant = base.nom[j]
   # 
   # if nom_enseignant not in (noms_enseignants (enseignants)):
   #     enseignant = Enseignant(base.prenom[j], nom_enseignant,   base.statut[j])   
   #     Enseignants.append(enseignant)

In [70]:
#print (Enseignants)
#print (Enseignants[0].nom)
print (len(Enseignants))

def noms_enseignants(ListeEnseignants):
    res = []
    for i in range (len(ListeEnseignants)):
        res.append (ListeEnseignants[i].nom)
    return res

def prenoms_enseignants(ListeEnseignants):
    res = []
    for i in range (len(ListeEnseignants)):
        res.append (ListeEnseignants[i].prenom)
    return res

liste_enseignants = noms_enseignants(Enseignants)
liste_penseignants = prenoms_enseignants(Enseignants)

print (liste_enseignants)
if ('houap' in liste_enseignants):
    print (liste_enseignants.index('houap'))
print (liste_penseignants)
if ('houap' in liste_penseignants):
    print (liste_enseignants.index('houap'))

0
[]
[]

In [75]:
def add_cours_enseignant(enseignants, base, j):
    """dsflkjsldfkj"""
    nom_enseignant = base.nom[j]
    #si un enseignant est référencé dans la ligne considérée
    if (not (isinstance(nom_enseignant, (int, float)))): 
        print ("ok")
        print (nom_enseignant)
        # si l'enseignant n'est pas dans la base on l'ajoute
        if nom_enseignant not in (noms_enseignants (enseignants)):
            enseignant = Enseignant(nom_enseignant, base.prenom[j], base.statut[j])   
            Enseignants.append(enseignant)

        liste_enseignants = noms_enseignants(Enseignants)
        nth = liste_enseignants.index(nom_enseignant)
        enseignant = enseignants[nth]
        formation = base.formation[j]
        if (not (isinstance(formation, (int, float)))): 
            enseignement = Enseignement(formation, base.semestre[j], base.code[j], base.titre[j],base.groupes[j]) 
            cours = Cours(enseignant, enseignement)
            cours.duree = base.duree[j]
            cours.jour = base.jour[j]
            cours.groupes = base.groupes[j]
            if(base.TD_CM[j]==1):
                cours.type = "TD" 
            elif(base.TD_CM[j]==1.5):
                cours.type = "CM" 
            else:
                cours.type = "nil"
            cours.salle = base.salle[j]
            cours.nseances = base.nseances[j]
            #print (liste_enseignants)
            enseignant.cours.append(cours)
        else:
            charge = Charge_admin(base.titre[j],base.duree[j])
            enseignant.charge.append(charge)

    
add_cours_enseignant(Enseignants, X, 144)
    
#(self, formation, semestre, code, titre, groupes):

ok
Pottier

In [36]:
#test
#add_cours_enseignant(Enseignants, X, 1)
#add_cours_enseignant(Enseignants, X, 2)
#add_cours_enseignant(Enseignants, X, 3)
#add_cours_enseignant(Enseignants, X, 4)
#add_cours_enseignant(Enseignants, X, 168)

In [37]:
# => X est la base isue de Excel
# => Enseignants est la base créée à partir de X, liste d'enseignants (de la classe Enseignant )

def readlines (base):
    for j in range(base.shape[0]):
        #print (j)
        add_cours_enseignant(Enseignants, base, 1+j)
        
readlines (X)

Pottier
Cailliez
Cailliez
Obali
Obali
Clerc
Clerc
Fargeton
Waschbüsch
Fargeton
Houles
Fargeton
Houles
Houles
M
Bertrand
Petiet
Houles
Houles
Damon-Guillot
Bertrand
Houles
Obali
Clerc
Clerc
Damon-Guillot
Waschbüsch
Cailliez
Houles
Fargeton
Rascle
M
Houles
Houles
M
Houles
Houles
Bertrand
Petiet
Houles
Houles
Waschbüsch
Bertrand
Desmet
Tracy
Houles
Houles
Bertrand
Bertrand
Fuchs
Fargeton
Fargeton
Forment
Houles
Cailliez
Tracy
Houles
Houles
Bertrand
Bertrand
Fuchs
Fargeton
Damon-Guillot
Forment
Houles
Desmet
Fargeton
Pottier
Pottier
Cailliez
Bardot
Terras
Viallon
Garde
Houles
Fuchs
Clerc
Desmet
Cailliez
Damon-Guillot
Delaigue
Pottier
Pottier
Waschbüsch
Waschbüsch
Terras
Viallon
Garde
Houles
Fuchs
Clerc
Desmet
Rascle
Damon-Guillot
Moussart
Damon-Guillot
Desmet
Pottier
Waschbüsch
Desmet
Desmet
Aliot
Carinola
Cailliez
Cailliez
Damon-Guillot
Damon-Guillot
Pottier
Pottier
Michon
Michon
Moussart
Desmet
Desmet
Fargeton
Fargeton
Waschbüsch
Waschbüsch
Jouve Villard
Nosella
Ezequel
Ezequel
Desmet
Waschbüsch
Waschbüsch
Label
140    NaN
140    NaN
140    NaN
Name: nom, dtype: object

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [38]:
def service(LEnseignants, nom_enseignant):    
    liste_enseignants = noms_enseignants(LEnseignants)
    nth = liste_enseignants.index(nom_enseignant)
    enseignant = LEnseignants[nth]
    cours = enseignant.cours
    service = 0
    print("service de ", enseignant.prenom,  nom_enseignant, ":")
    for j in range(len(cours)):
        duree = cours[j].duree
        nseances = cours[j].nseances
        groupes = cours[j].groupes
        enseignement = cours[j].enseignement
        formation = enseignement.formation
        semestre = int(enseignement.semestre)
        code = enseignement.code
        titre = enseignement.titre
        TD_CM = coefTDCM(cours[j].type)
        hetd = duree * nseances * groupes * TD_CM
        print(formation, semestre, code, titre, " : " ,hetd, "hetd")
        service += hetd
    print ("total :", service, "hetd")
    return service

def coefTDCM(typ):
    if(typ=="TD"):
        coef = 1
    elif(typ=="CM"):
        coef = 1.5 
    else:
        coef = 0 
    return coef
        
        
service(Enseignants, 'Pottier')

service de  Laurent Pottier :
L 1 UE1-A TICE  :  24.0 hetd
L 1 UE1-A TICE  :  24.0 hetd
L 5 UE1-B Acoustique  :  13.5 hetd
L 5 UE1-B Acoustique  :  12.0 hetd
L 6 UE1-B Histoire des musiques électroac  :  13.5 hetd
L 6 UE1-B Histoire des musiques électroac  :  12.0 hetd
M 1 UE1-2 Methodologie  :  6.0 hetd
M 1 UE2-A3 Musique électroacoustiques  :  22.5 hetd
M 1 UE2-A3 Musique électroacoustiques  :  6.0 hetd
total : 133.5 hetd

133.5

In [39]:
liste_enseignants = noms_enseignants(Enseignants)
print (liste_enseignants)
#print (liste_enseignants.index('Pottier'))
#cours1 = (Enseignants[2].cours)
#print (len(cours1))
#print ("durée :" , cours1[1].duree)

def services(LEnseignants):
    liste_enseignants = noms_enseignants(Enseignants)
    for i in range (len(liste_enseignants)):
        service(Enseignants, liste_enseignants[i])
        
services(Enseignants)

['Pottier', 'Cailliez', 'Obali', 'Clerc', 'Fargeton', 'Waschbüsch', 'Houles', 'M', 'Bertrand', 'Petiet', 'Damon-Guillot', 'Rascle', 'Desmet', 'Tracy', 'Fuchs', 'Forment', 'Bardot', 'Terras', 'Viallon', 'Garde', 'Delaigue', 'Moussart', 'Aliot', 'Carinola', 'Michon', 'Jouve Villard', 'Nosella', 'Ezequel']
service de  Laurent Pottier :
L 1 UE1-A TICE  :  24.0 hetd
L 1 UE1-A TICE  :  24.0 hetd
L 5 UE1-B Acoustique  :  13.5 hetd
L 5 UE1-B Acoustique  :  12.0 hetd
L 6 UE1-B Histoire des musiques électroac  :  13.5 hetd
L 6 UE1-B Histoire des musiques électroac  :  12.0 hetd
M 1 UE1-2 Methodologie  :  6.0 hetd
M 1 UE2-A3 Musique électroacoustiques  :  22.5 hetd
M 1 UE2-A3 Musique électroacoustiques  :  6.0 hetd
total : 133.5 hetd
service de  Matthieu Cailliez :
L 1 UE1-B Methodologie  :  18.0 hetd
L 1 UE1-B Methodologie  :  18.0 hetd
L 1 UE1-B Methodologie  :  18.0 hetd
L 1 UE1-B Methodologie  :  18.0 hetd
L 2 UE4 Histoire  :  24.0 hetd
L 3 UE3-D Histoire de la musique 1800-70  :  54.0 hetd
L 5 UE1-C Histoire de la musique 1870-1930  :  36.0 hetd
L 5 UE3-B2 Iconographie musicale  :  18.0 hetd
M 1 UE2-A1 Musicologie XVIII-XIXe  :  22.5 hetd
M 1 UE2-A1 Musicologie XVIII-XIXe  :  6.0 hetd
total : 232.5 hetd
service de  M. Obali :
L 1 UE2-A Français  :  18.0 hetd
L 1 UE2-A Français  :  18.0 hetd
L 2 UE2-A Français  :  18.0 hetd
total : 54.0 hetd
service de  Leo Clerc :
L 1 UE2-B Anglais  :  18.0 hetd
L 1 UE2-B Anglais  :  18.0 hetd
L 2 UE2-B Anglais  :  18.0 hetd
L 2 UE2-B Anglais  :  18.0 hetd
L 5 UE3-A Anglais  :  18.0 hetd
L 6 UE3-A Anglais  :  18.0 hetd
total : 108.0 hetd
service de  Pierre Fargeton :
L 1 UE3-A Arts et spe-jazz  :  27.0 hetd
L 1 UE4 Histoire  :  36.0 hetd
L 1 UE5-B Musique d'ensemble  :  30.0 hetd
L 2 UE5-B Musique d'ensemble  :  24.0 hetd
L 3 UE2-D Musique d'ensemble  :  24.0 hetd
L 3 UE3-A Jazz  :  36.0 hetd
L 4 UE2-D Musique d'ensemble  :  24.0 hetd
L 5 UE1-A Jazz  :  36.0 hetd
M 2 UE2-A2 Jazz  :  22.5 hetd
M 2 UE2-A2 Jazz  :  6.0 hetd
total : 265.5 hetd
service de  V. Waschbüsch :
L 1 UE3-B Esthétique  :  27.0 hetd
L 2 UE3-B Esthétique  :  18.0 hetd
L 2 UE6-C Solfege initiant  :  24.0 hetd
L 6 UE1-C Histoire de la musique après 1930  :  36.0 hetd
L 6 UE1-C Histoire de la musique après 1930  :  36.0 hetd
M 1 UE1-2 Methodologie  :  4.0 hetd
M 2 UE2-A3 Musicologie XXe-XXIe  :  22.5 hetd
M 2 UE2-A3 Musicologie XXe-XXIe  :  6.0 hetd
AGM 3 nan Projet coll  :  10.0 hetd
AGM 3 nan Projet perso  :  9.0 hetd
total : 192.5 hetd
service de  Fabien Houles :
L 1 UE5-A Chorale  :  36.0 hetd
L 1 UE6-A Technique analyse auditive  :  18.0 hetd
L 1 UE6-A Technique analyse auditive  :  18.0 hetd
L 1 UE6-B Solfege (dechiffrage chanté)  :  6.0 hetd
L 1 UE6-B Solfege (dechiffrage chanté)  :  6.0 hetd
L 2 UE1 Methodologie  :  18.0 hetd
L 2 UE5-A Chorale  :  36.0 hetd
L 2 UE6-A Technique analyse partition  :  18.0 hetd
L 2 UE6-A Technique analyse partition  :  18.0 hetd
L 2 UE6-B Harmonie  :  24.0 hetd
L 2 UE6-B Harmonie  :  24.0 hetd
L 2 UE6-C Solfege (dechiffrage chanté)  :  6.0 hetd
L 2 UE6-C Solfege (dechiffrage chanté)  :  6.0 hetd
L 3 UE1-B Chorale  :  0.0 hetd
L 3 UE2-A Harmonie  :  24.0 hetd
L 3 UE3-C Analyse sur partitions  :  27.0 hetd
L 4 UE1-B Chorale  :  0.0 hetd
L 4 UE2-A Harmonie  :  24.0 hetd
L 4 UE3-C Analyse auditive  :  27.0 hetd
L 5 UE2-D Direction de choeur  :  24.0 hetd
L 6 UE2-D Direction de choeur  :  24.0 hetd
total : 384.0 hetd
service de  etudiant M :
L 1 UE6-A Technique analyse auditive  :  12.0 hetd
L 2 UE5-C Atelier info mus  :  24.0 hetd
L 2 UE6-A Technique analyse partition  :  12.0 hetd
total : 48.0 hetd
service de  Valérie Bertrand :
L 1 UE6-B Solfege  :  24.0 hetd
L 1 UE6-B Solfege initiant  :  24.0 hetd
L 2 UE6-C Solfege  :  24.0 hetd
L 2 UE6-C Solfege initiant  :  24.0 hetd
L 3 UE2-B Solfege  :  24.0 hetd
L 3 UE2-B Solfege  :  0.0 hetd
L 4 UE2-B Solfege  :  24.0 hetd
L 4 UE2-B Solfege  :  0.0 hetd
total : 144.0 hetd
service de  Victor Petiet :
L 1 UE6-B Solfege  :  24.0 hetd
L 2 UE6-C Solfege  :  24.0 hetd
total : 48.0 hetd
service de  Anne Damon-Guillot :
L 1 UE6-B Solfege initiant  :  24.0 hetd
L 2 UE3-A Arts et spe-ethno  :  18.0 hetd
L 4 UE3-A Ethnomusicologie  :  36.0 hetd
L 6 UE1-A Ethnomusicologie  :  30.0 hetd
L 6 nan Enseignant référent  :  12.0 hetd
M 1 UE1-2 Methodologie  :  6.0 hetd
M 1 UE2-A2 Ethnomusicologie  :  22.5 hetd
M 1 UE2-A2 Ethnomusicologie  :  6.0 hetd
total : 154.5 hetd
service de  Lionel Rascle :
L 2 UE5-C Atelier info mus  :  24.0 hetd
L 6 UE3-B2 Musique et image  :  18.0 hetd
total : 42.0 hetd
service de  Marc Desmet :
L 2 nan Enseignant référent  :  18.0 hetd
L 4 UE3-D Histoire de la musique 900-1600  :  54.0 hetd
L 5 UE3-B1 Paléographie musicale 1  :  18.0 hetd
L 6 UE3-B1 Paléographie musicale 1  :  18.0 hetd
M 1 UE1-2 Methodologie  :  8.0 hetd
M 1 UE1-4a Analyse auditive  :  9.0 hetd
M 1 UE1-4a Analyse auditive  :  6.0 hetd
M 2 UE2-A1 Musicologie XVIe-XVIIe  :  22.5 hetd
M 2 UE2-A1 Musicologie XVIe-XVIIe  :  6.0 hetd
AGM 3 nan nan  :  12.0 hetd
total : 171.5 hetd
service de  Leland Tracy :
L 3 UE1-A Anglais  :  18.0 hetd
L 4 UE1-A Anglais  :  18.0 hetd
total : 36.0 hetd
service de  Catherine Fuchs :
L 3 UE2-C Accompagnement  :  20.0 hetd
L 4 UE2-C Accompagnement  :  20.0 hetd
L 5 UE2-E Accompagnement  :  24.0 hetd
L 6 UE2-E Accompagnement  :  24.0 hetd
total : 88.0 hetd
service de  Raphael Forment :
L 3 UE3-B Atelier d'informatique mus  :  24.0 hetd
L 4 UE3-B Atelier d'informatique mus  :  24.0 hetd
total : 48.0 hetd
service de  Jean-Marc Bardot :
L 5 UE1-C Histoire de la musique 1870-1930  :  36.0 hetd
total : 36.0 hetd
service de  Bastien Terras :
L 5 UE2-A Harmonie  :  48.0 hetd
L 6 UE2-A Harmonie  :  48.0 hetd
total : 96.0 hetd
service de  A. Viallon :
L 5 UE2-B Solfège  :  48.0 hetd
L 6 UE2-B Solfège  :  48.0 hetd
total : 96.0 hetd
service de  Cédric Garde :
L 5 UE2-C Pratique vocale individuelle  :  24.0 hetd
L 6 UE2-C Pratique vocale individuelle  :  36.0 hetd
total : 60.0 hetd
service de  Nicolas Delaigue :
L 6 UE1-A Ethnomusicologie  :  6.0 hetd
total : 6.0 hetd
service de  Arnaud Moussart :
M 1 UE1-1 Anglais  :  18.0 hetd
M 2 UE1-1 Anglais  :  18.0 hetd
total : 36.0 hetd
service de  Greg Aliot :
M 1 UE1-4b Techniques de studio  :  20.0 hetd
total : 20.0 hetd
service de  Vincent Carinola :
M 1 UE1-4b Techniques de studio  :  10.0 hetd
total : 10.0 hetd
service de  Romain Michon :
M 1 UE2-B5 Atelier d'informatique musicale  :  9.0 hetd
M 1 UE2-B5 Atelier d'informatique musicale  :  6.0 hetd
total : 15.0 hetd
service de  Laure Jouve Villard :
M 2 UE2-B3 Mediation culturelle  :  nan hetd
total : nan hetd
service de  Carole Nosella :
M 2 UE2-B4 Espaces et réseaux  :  nan hetd
total : nan hetd
service de  Philippe Ezequel :
M 2 UE2-B5 Initiation à la programmation  :  9.0 hetd
M 2 UE2-B5 Initiation à la programmation  :  6.0 hetd
total : 15.0 hetd