# Classes

## Enseignant

In [91]:
class Enseignant:
    def __init__(self, nom, prénom, statut):
        self.nom = nom
        self.prénom=prénom
        self.telephone="nil"
        self.mail_ujm="nil"
        self.mail_perso="nil"
        self.adresse="nil"
        self.statut=statut
        self.cours=[]
        self.service=0

class Formation: 
    def __init__(self, formation):
        self.formation = formation
        
class Enseignement:
    def __init__(self, formation, semestre, code, titre, groupes):
        self.formation = formation
        self.semestre = semestre
        self.code = code
        self.titre = titre
        self.htd = 0
        self.hcm = 0
        self.groupes = groupes
        self.cours = []
                
class Charge_admin:
    def __init__(self, titre, htd):
        self.titre = titre
        self.htd = htd
        
class Cours:
    def __init__(self, enseignant, enseignement):
        self.enseignant = enseignant
        self.enseignement = enseignement
        self.dates = []
        self.duree = 0
        self.debut = 0
        self.salle = "nil"
        self.groupe = "nil"

In [92]:
import os
import math
import glob
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [93]:
os.chdir("/Users/laurentpottier/Documents/LP/Recherches/Dir_Departement/Python_Planning/files/")

In [94]:
#X = pd.read_excel("Services_enseignants2021-22d.xlsx",sheet_name=0,header=0,index_col=0)

In [95]:
#X = pd.read_excel("/Users/laurentpottier/Documents/LP/Recherches/Dir_Departement/Python_Planning/Services_enseignants2021-22e.xlsx",sheet_name=0,header=0,index_col=0)
X = pd.read_excel("Services_enseignants2021-22e.xlsx",sheet_name=0,header=0,index_col=0)

In [96]:
print(X.shape) # (18, 6)

(168, 22)

In [97]:
print(X)

      HETD  TD(1) CM(1.5)  heures Niveau  Semestre     UE      UE titre placé  \
Label
1       24            1.0    24.0      L       1.0  UE1-A          TICE     x
2       18            1.0    18.0      L       1.0  UE1-B  Methodologie     x
3       18            1.0    18.0      L       1.0  UE1-B  Methodologie     x
4       18            1.0    18.0      L       1.0  UE2-A      Français     x
5       18            1.0    18.0      L       1.0  UE2-A      Français     x
...    ...            ...     ...    ...       ...    ...           ...   ...
164    NaN            NaN     NaN    NaN       NaN    NaN           NaN   NaN
165    NaN            NaN     NaN    NaN       NaN    NaN           NaN   NaN
166    NaN            NaN     NaN    NaN       NaN    NaN           NaN   NaN
167    NaN            NaN     NaN    NaN       NaN    NaN           NaN   NaN
168    NaN            NaN     NaN    NaN       NaN    NaN           NaN   NaN

       groupes  semaines  ...  date                début                  fin  \
Label                     ...
1          2.0       6.0  ...   NaT  1904-01-01 08:30:00  1904-01-01 10:30:00
2          1.0      12.0  ...   NaT  1904-01-01 08:30:00  1904-01-01 10:00:00
3          1.0      12.0  ...   NaT  1904-01-01 10:15:00  1904-01-01 11:45:00
4          1.0      12.0  ...   NaT  1904-01-01 13:30:00  1904-01-01 15:00:00
5          1.0      12.0  ...   NaT  1904-01-01 15:00:00  1904-01-01 16:30:00
...        ...       ...  ...   ...                  ...                  ...
164        NaN       NaN  ...   NaT                  NaN                  NaN
165        NaN       NaN  ...   NaT                  NaN                  NaN
166        NaN       NaN  ...   NaT                  NaN                  NaN
167        NaN       NaN  ...   NaT                  NaN                  NaN
168        NaN       NaN  ...   NaT                  NaN                  NaN

       salle           statut    prenom       nom Etudts  rqs rqs2
Label
1       A230   UJM-PR-Musique   Laurent   Pottier    NaN  NaN  NaN
2        J02  UJM-MCF-Musique  Matthieu  Cailliez   Gr 1  NaN  NaN
3        J02  UJM-MCF-Musique  Matthieu  Cailliez   Gr 2  NaN  NaN
4      autre    UJM - Lettres        M.     Obali   Gr 1  NaN  NaN
5      autre    UJM - Lettres        M.     Obali   Gr 2  NaN  NaN
...      ...              ...       ...       ...    ...  ...  ...
164      NaN              NaN       NaN       NaN    NaN  NaN  NaN
165      NaN              NaN       NaN       NaN    NaN  NaN  NaN
166      NaN              NaN       NaN       NaN    NaN  NaN  NaN
167      NaN              NaN       NaN       NaN    NaN  NaN  NaN
168      NaN              NaN       NaN       NaN    NaN  NaN  NaN

[168 rows x 22 columns]

In [98]:
# => X est la base isue de Excel
# => Enseignants est la base créée à partir de X, liste d'enseignants (de la classe Enseignant )

Enseignants = []

def readline (base):
    for j in range(base.shape):
        add_cours_enseignant(Enseignants, base, j)

In [82]:
print (X.index[3])

4

In [83]:
print (X.columns[2])

heures

In [84]:
print (X.nom[1])

Pottier

In [65]:
def add_cours_enseignant(enseignants, base, j):
    """dsflkjsldfkj"""
    nom_enseignant = base.nom[j]
    if nom_enseignant not in (noms_enseignants (enseignants)):
        enseignant = Enseignant(base.prenom[j], nom_enseignant,   base.statut[j])   
        enseignement = Enseignement(base.formation[j], base.semestre[j], base.code[j], base.titre[j],base.htd[j],, hcm, groupes)
        cours = Cours(enseignant, enseignement)
        Enseignants.append(enseignant)
    nth =

SyntaxError: invalid syntax (<ipython-input-65-1b3c00945f27>, line 4)

In [99]:
enseignant1 = Enseignant('coco', 'kiki', 'statut')
Enseignants.append(enseignant1)
enseignant2 = Enseignant('houap', 'LP',  'statut')
Enseignants.append(enseignant2)

In [100]:
#print (Enseignants)
#print (Enseignants[0].nom)
print (len(Enseignants))

def noms_enseignants(Liste):
    res = []
    for i in range (len(Liste)):
        res.append (Liste[i].nom)
    return res

print (noms_enseignants(Enseignants))

2
['coco', 'houap']

In [14]:
print (enseignant1)

<__main__.Enseignant object at 0x124435880>

In [24]:
print (enseignant1.nom)

coco

In [16]:
enseignant1.nom = "Pottier Laurent"

In [22]:
vartest = ["a", "b", "c"]
print(len (vartest))
print("fz" in vartest)

3
False